@media (min-width: 48rem) {
  #product-list::-webkit-scrollbar {
    height: 6px;
  }

  #product-list::-webkit-scrollbar-track {
    margin-inline: 8rem;
    background: #ddd6d7;
    background-clip: content-box;
    border-block: 1px solid transparent;
  }

  #product-list::-webkit-scrollbar-thumb {
    background: #1c1d1d;
    background-clip: content-box;
    border-block: 1px solid transparent;
  }

  #product-list::-webkit-scrollbar-thumb:hover,
  #product-list::-webkit-scrollbar-thumb:active {
    border-block-width: 0;
  }

  @supports (scrollbar-width: thin) and (not selector(::-webkit-scrollbar)) {
    #product-list {
      scrollbar-width: thin;
      scrollbar-color: #1c1d1d #ddd6d7;
    }
  }

  .js-enhanced #product-list {
    scrollbar-width: none;
  }

  .js-enhanced #product-list::-webkit-scrollbar {
    display: none;
  }
}
