@media (min-width: 48rem) {
  #product-list::-webkit-scrollbar {
    height: 6px;
  }

  #product-list::-webkit-scrollbar-track {
    margin-inline: 8rem;
    background: #ddd6d7;
    background-clip: content-box;
    border-block: 1px solid transparent;
  }

  #product-list::-webkit-scrollbar-thumb {
    background: #1c1d1d;
    background-clip: content-box;
    border-block: 1px solid transparent;
  }

  #product-list::-webkit-scrollbar-thumb:hover,
  #product-list::-webkit-scrollbar-thumb:active {
    border-block-width: 0;
  }

  @supports (scrollbar-width: thin) and (not selector(::-webkit-scrollbar)) {
    #product-list {
      scrollbar-width: thin;
      scrollbar-color: #1c1d1d #ddd6d7;
    }
  }

  .js-enhanced #product-list {
    scrollbar-width: none;
  }

  .js-enhanced #product-list::-webkit-scrollbar {
    display: none;
  }
}

[data-scrollbar] {
  display: none;
}

@media (min-width: 48rem) {
  .js-enhanced [data-scrollbar] {
    display: block;
  }
}

@media (max-width: 47.99rem) {
  #product-list {
    max-height: var(--expanded-height, none);
    overflow: hidden;
  }

  #product-list[data-animate] {
    transition: max-height 350ms ease;
  }

  #product-list[data-collapsed] {
    max-height: var(--collapsed-height);
  }
}

.is-dragging,
.is-dragging * {
  user-select: none;
}

.is-dragging {
  cursor: grabbing;
}

@media (prefers-reduced-motion: reduce) {
  #product-list,
  [data-scrollbar-thumb] {
    transition: none;
  }
}
